@import "styleAbout.css";
body {
  display: grid;
  grid-template-areas:
    "box1 box1 box1"
    "box2 box2 box2"
    "box4"
    "box5"
    "footer";
}
.box1 {
  width: 100%;
}

.li_Orders {
  padding: 20px;
  list-style: none;
  text-decoration: underline;
  line-height: 60px;
  font-size: 1.5rem;
  margin-left: 4rem;
  z-index: 2;
}
.Main_list {
  color: #044779;
  font-size: 2rem;
  margin-left: -2rem;
}
.box2 {
  width: 33%;
}
.box3 {
  width: 40rem;
  margin-left: 25rem;
  margin-top: -15rem;
  z-index: 1;
  clear: both;
}
h2 {
  margin-left: 0rem;
  margin-top: -10rem;
}
.continue {
  width: 100%;
  margin-left: 10rem;
}
.iconShop {
  margin-top: 10px;
  margin-left: 90px;
}
.BtnShop {
  background-color: #044779;
  border: 1px solid #ccc7c7;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
  color: #ccc7c7;
  margin-top: 3rem;
}
p {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-left: 35rem;
  line-height: 30px;
}
.box4 {
  background-color: white;
  height: 20rem;
  margin-top: 10rem;
  margin-left: 20%;
  width: 60%;
  grid-area: box4;
  vertical-align: middle;
  align-content: center;
}
@media (max-width: 768px) {
  .li_orders {
    font-size: 1rem;
  }
  p {
    font-size: 1.2rem;
    margin-left: 20rem;
  }
  h2 {
    margin-left: 3rem;
  }
}

@media (max-width: 600px) {
  .li_Orders {
    font-size: 0.8rem;
    line-height: 20px;
    margin-left: 15px;
  }
  .Main_list {
    font-size: 1rem;
  }
  .box2 {
    width: 2rem;
  }
  p {
    font-size: 1rem;
    margin-left: 110px;
    margin-top: 1rem;
  }
  h2 {
    margin-top: -7rem;
  }
  .box4 {
    margin-top: 0rem;
  }
}
