@import "styles.css";
.btncart {
  background-color: transparent;
  border: none;
  color: #ccc7c7;
  margin-top: 5px;
}
.CU {
  grid-area: CU;
}
.Smedia {
  grid-area: Smedia;
}
.blank {
  grid-area: blank;
}

body {
  display: grid;
  grid-template-areas: "CU Smedia blank";
}
